[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/den"]
	path = themes/den
	url = https://github.com/shaform/hugo-theme-den
[submodule "themes/aafu"]
	path = themes/aafu
	url = https://github.com/darshanbaral/aafu.git
[submodule "themes/hugo-theme-itheme"]
	path = themes/hugo-theme-itheme
	url = https://github.com/floyd-li/hugo-theme-itheme.git
[submodule "themes/lexchen-theme"]
	path = themes/lexchen-theme
	url = https://github.com/andrew-llcoder/hugo-theme-lexchen
[submodule "themes/lexchen"]
	path = themes/lexchen
	url = https://github.com/andrew-llcoder/hugo-theme-lexchen
